
.navbar-collapse{
    float:right;

}
.card-img-top{
    height: 100px;
}
.btn{
}
.log{
    font-family: "Apricots", cursive;
    font-style: italic;

    color:#3E5B5B;
    font-size: 26px;
    text-decoration: none;
    font-weight: 800;
}