
.navbar-collapse{
    float:right;

}
.card-img-top{
    height: 100px;
}
.btn{
}
.log{
    font-family: "Apricots", cursive;
    font-style: italic;

    color:#3E5B5B;
    font-size: 26px;
    text-decoration: none;
    font-weight: 800;
}
.ss{
    width:250px;
    font-weight: 900;
}
.nav-item{
font-size: 20px;
font-weight: 600;
color: rgb(0, 0, 0);
}
.icon-call{
    margin-top: 0.2rem;
    font-size: 25px;
    margin-left: 15rem;

}
.icon-call i{
    color: rgb(100, 187, 187);
}
.card-img-main{
    height:500px
}
